header {
  background: white;
  border-bottom: 2px solid var(--gray0);
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: darkblue;
  font-weight: bold;
  text-decoration: overline;
}

.logo {
  letter-spacing: 0px;
}
